.MovieInfo {
    margin: 20px auto auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Genres {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}